h1 {
  margin: 50px;
  color: orangered;
  text-shadow: 4px 4px 10px grey;
  font-weight: 1000;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  border: 3px solid black;
  margin: auto;
  width: 75%;
  box-shadow: 5px 5px grey;
}

table tr {
  border: 3px solid black;
  text-shadow: 4px 4px 5px grey;
  font-weight: 500;
}

table td {
  border: 3px solid black;
  padding: 10px;
}

table th {
  color: orangered;
  border: 3px solid black;
  padding: 20px;
}